$lightpurple: #4E4FFA;
$darkPurple: #2A2D54;
$darkerPurple: #4745AD;
$lightGrey: #959BA7;

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');


* {
  box-sizing: border-box;
  transition: all 0.25s ease;
}

a {
  text-decoration: none;
}


@mixin wrapper ($wid: 100%, $marg: 0 auto, $maxWid: 1000px) {
  width: $wid;
  margin: $marg;
  max-width: $maxWid;
}

.wrap {
  @include wrapper;
}

.floating {
    position: absolute;
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #291c77;
    color: white;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    text-decoration: none;
    font-size: 20px;
    opacity: 0.8;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease-in-out;
    
  &:hover {
    background-color: #0056b3;
    transform:scale(1.1);
  }
    
    .arrow {
        margin-left: 17px;
        margin-top: 8px;
      }
}

header {
  position: absolute;
  width: 100%;
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  color: #fff;
  z-index: 1;

  form {
    display: flex;
    border: solid 2px $darkerPurple;
    background-color: white;
    align-items: center;
    padding: 0 2px 0 2px;
    border-radius: 5px;

    input {
      border: none;

      &:focus {
        outline: none;
      }
    }
  }

  .car {
    display: flex;
    font-size: x-large;
    justify-content: space-between;
    color: #fff;
    margin-left: 150px;
    font-family: "Playfair Display";

  }

  nav {
    margin-right: 95px;
    margin-top: 10px;
    display: flex;
    font-size: 10px;

    a {
      color: #fff;
      // justify-content: space-around;
      margin-right: 15px;

      &:hover {
        color: $darkerPurple;
      }
    }
  }

}


.heroBanner {
  background: url(../src/img/images/images/welcome-hero/welcome-banner.jpg);
  background-size: cover;
  height: 650px;
  position: absolute;
  /* Position the header at the top of the screen */
  top: 0;
  /* Ensure it's at the top */
  left: 0;
  width: 100%;
  /* Full width of the page */
  z-index: 1;
  /* Makes sure the header is on top of other content */


  /* The overlay, covering the entire background image only */
  .overlay {
    position: absolute;
    /* Overlay covers the whole screen */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(42, 45, 84, 0.5);
    /* Dark background with 50% opacity */
    z-index: -1;
    /* Ensure overlay is below the header */
  }
}

.heroBanner {
  position: relative;
  display: flex;
  flex-direction: column;
  z-index: -1;

  // align-items: center;
  h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
  }

  .heading {
    display: flex;
    text-align: center;
    align-items: center;
    flex-direction: column;
    margin-top: 150px;
  }

  p {
    display: flex;
    justify-content: center;
    margin-top: 40px;
    color: #fff;
  }

  .btn {
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $lightpurple;
    color: white;
    padding: 9px 40px;
  }
}

.serviceSection {
  &>* {
    width: 35%;
  }

  @include wrapper;
  display: flex;
  margin-left: 149px;
  margin-top: 100px;
  // justify-content: space-around;

  .serviceCard {
    width: 280px;
    padding: 45px 15px;
    border: 1.5px solid $lightGrey;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-left: 25px;

    .thumbnail {
      display: flex;
      flex-direction: column;
      align-items: center;
      height: 100px;

      img {
        height: 70px;
        width: 70px;
      }
    }
    .info {
      display: flex;
      flex-direction: column;
      .header {
        margin-bottom: 10px;
      }
      p {
        color: $lightGrey;
        margin-bottom: 15px;
      }
      
      .bttm-line {
        align-items: center;
        background-color: $lightpurple;
        width: 20px;
        height: 2px;
        border-radius: 50%;
        margin-top: 10px;
        margin-left: 120px;
      }
    }
  }
}

.carSection {
  @include wrapper;
  display: flex;
  margin-top: 150px;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .heading {
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;

    p {
      display: flex;
      justify-content: center;
    }

    h2 {
      align-items: center;
      justify-content: center;
      // margin-top: 10px;
      margin-bottom: 10px;
    }

    .bttm-line {
      background-color: $lightpurple;
      width: 50%;
      height: 2px;
      border-radius: 50%;
      margin-top: 10px;
      margin-left: 70px;
    }
  }


  .carModels {
    display: flex;
    flex-direction: row;

    .plantCard {
      // border: solid 2px black;
      width: 210px;
      display: flex;
      margin-left: 15px;
      flex-direction: column;

      .thumbnail {
        height: 220px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: end;
        border: solid 1px #A9A9A9;
        border-radius: 2px;
        padding: 30px 1px 0 1px;

        &:hover {
          scale: 1.05;
        }

        img {
            margin-bottom: 18px;
          height: 80px;
          width: 150px;
        }

        p {
        //   padding: -5px;
          border-top: solid 1px $lightGrey;
          color: #959BA7;
        }
      }

      .info {}
    }
  }
}

.brandsSection {
  @include wrapper;
  display: flex;
  margin-left: 110px;
  margin-top: 150px;

  img {
    width: 120px;
  margin-left: 55px;
    height: 70px;

    &:hover {
      scale: 1.3;
    }
  }
}

footer {
  margin-top: 850px;
  display: flex;
  justify-content: space-between;
  background-color: $darkPurple;
  color: white;
  margin-top: 200px;
  padding: 12px;

  .copyRight {
    margin-left: 200px;
    display: flex;
    text-align: center;
  }

  .logos {
    margin-right: 220px;

    a {
      svg {
        fill: #fff;
        height: 25px;
        width: 25px;
        margin-left: 10px;
      }
    }
  }
}


// Responsive strt
@media screen and (min-width:1400px) and (max-width:1920px) {
    .serviceSection{
        margin-left: 240px;
    }
    
    .brandsSection{
        margin-left: 190px;
        img {
            width: 110px;
          margin-left: 55px;
            height: 70px;
        
            &:hover {
              scale: 1.3;
            }
          }
    }
}